<a href="https://colab.research.google.com/github/RemaldoraCarl/58003-OOP/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Creating array elements
animals = ["cat", 'dog', 'fish']
x = animals[0]
print (x)
y = animals [1]
print(y)
z = animals [2]
print(z)

cat
dog
fish

In [2]:
#Modifying array elements
animals[0]='monkey'
print(animals[0])
print("The array of animals:", animals)

monkey
The array of animals: ['monkey', 'dog', 'fish']

In [3]:
#Length of an array
x = len(animals)
print(x)

3

In [4]:
#Deletion of elements in an array

print(animals)

['monkey', 'dog', 'fish']

In [5]:
#append element in array
animals = ['monkey','cat','dog', 'fish']
animals.append("bird")
print(animals)

['monkey', 'cat', 'dog', 'fish', 'bird']

In [6]:
#insert an element in an array
animals = ['monkey','cat','dog', 'fish']
animals.insert(0, "bird")
print(animals)
animals.insert(2, "lion")  
print(animals)

['bird', 'monkey', 'cat', 'dog', 'fish']
['bird', 'monkey', 'lion', 'cat', 'dog', 'fish']

In [7]:
#delete dog from array elements
print(animals)
animals.remove("dog")
print(animals)

['bird', 'monkey', 'lion', 'cat', 'dog', 'fish']
['bird', 'monkey', 'lion', 'cat', 'fish']