<a href="https://colab.research.google.com/github/RemaldoraCarl/58003-OOP/blob/main/Control_Structure_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
if 5>3:
  print("five is greater than three")

five is greater than three

If and Elif Condition

In [43]:
if 3>5:
  print("three is greater than five")
elif 3<5:
  print("three is less than five")

three is less than five

If, Elif, and Else

In [44]:
if 3>2:
  print("three is greater than two")
elif 3==2:
  print("three is equal two")
else:
  print("three is less than two")

three is greater than two

Application 1 - Create a python program that will compare if the student is in Elementary, Secondary, and Tertiary Level

In [46]:
print("Type the grade level of the student:")
print("1 - 6 = Elementary")
print("6 - 12 = Secondary")
print("None of the choices above = Tertiary")

x = int(input())
if x ==1 or x ==2 or x ==3 or x ==4 or x ==5 or x==6:
  print("Elementary")
elif x==7 or x==8 or x==9 or x==10 or x==11 or x==12:
  print("Secondary")
else:
  print("You are in Tertiary Level")

Type the grade level of the student:
1 - 6 = Elementary
6 - 12 = Secondary
None of the choices above = Tertiary
11
Secondary

Short Hand If Statement

In [4]:
x = 20

if x>10:
  print("above ten")
  if x>20:
    print("and also above 20!")
    if x>30:
      print("and also above 30!")
      if x>40:
        print("and also above 40")
        if x>50:
          print("and also above 50")
        else:
           print("below 50")
      else:
         print("below 40")
    else:
       print("below 30")
  else:
    print("below 20")     
else:
   print("below 10")

above ten
below 20

In [13]:
x=int(input())

if x>18:
  print("the qualifiying age is 18 years old and above")
else:
  print("the qualifiying age is 18 years old and above")

19
the qualifiying age is 18 years old and above

In [41]:
x=int(input())

if x==0:
  print("Zero")
  elif x<0:
  print("Positive")
   else
  print("Negative")

SyntaxError: ignored

In [48]:
print("Input Subject Grades")
u = int(input())
v = int(input())
x = int(input())
y = int(input())
z = int(input())

a = u*0.10 + v*0.20 + x*0.20 + y*0.30 + z*0.20 
print("Your average grade is",a)
if a>75:
  print("Passed")
elif a>70:
  print("Remedial")
elif a>65:
  print("Failed")

Input Subject Grades
75
82
92
75
52
Your average grade is 75.20000000000002
Passed