<a href="https://colab.research.google.com/github/RemaldoraCarl/58003-OOP/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python Fundamentals

In [9]:
#Python Indentation 
if 5>2:
  print("5 is greater than 2")

5 is greater than 2

In [24]:
#Declaration of Variable 
x=5
y=2

if x>y:
  print("5 is greater than 2")

5 is greater than 2

In [12]:
#Python Variable
a,b=0,-1
print(a)
print(b)

0
-1

In [13]:
#Python Variable with multiple values
a,b,c=0,-1,-2
print(a)
print(b)
print(c)

0
-1
-2

In [14]:
#Single Variable with multiple values
a=b=c=4.5
print(a)
print(b)
print(c)

4.5
4.5
4.5

In [15]:
print(type(a))

<class 'float'>

In [16]:
#String Output using double quote or single quote
x="Mam Sayo"
print(x)
y="Mam Sayo"
print(y)

Mam Sayo
Mam Sayo

In [17]:
#Output Variables
x="enjoying"
print("Python programming is "+ x)

Python programming is enjoying

In [18]:
#Output Variable Other way
x="Python is "
y="enjoying"
z=x+y
print(z)

Python is enjoying

In [19]:
#Arithmetic Operations
x=5
y=3
print(x+y)

x=5
y=3
sum=x+y
print(sum)

8
8

In [20]:
#Assignment Operators
a,b,c=0,-1,6
c%=3
print(c)

0

In [21]:
#Logical operator
a,b,c=0,-1,6
a>b and c>b
True

True

In [22]:
#Identity Operator
a,b,c=0,-1,5
a is c
False

False